*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}
